/* .f1 {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.f2 {
    display: flex;
}

.w {
    width: 371px;
    height: 486;
    transform: translateX(50%);
}

.i {
    display: flex;
    justify-content: center;
}

.p {
    transform: translateX(-2%);
} */