*{
    font-family: 'Montserrat', sans-serif;
    color: #2C2C2C;
}

.g {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    background-color: #f9f9f9;
}

.a {
    grid-column: 1/2;
    background-color: #ffff;
    margin-left: 1em;
}

.s {
    grid-column: 2/13;
    background-color:#f9f9f9;
    height: 20px;
}
.app_name {
    color:  #999999;
    line-height: 36px;
    margin-top: 2em;
}
.dashboard {
    background-color: #ececec;
    width: 236px;
    margin-top: 1em;
    margin-bottom: 0.3em;
    border-radius: 4px;
    font-size: 15px;
}

.analytics {
    background: linear-gradient(188.54deg, #9E94FF 0%, #7E72F2 99.2%);
    box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
    border-radius: 4px;
    width: 236px;
    text-align: left;
    color: #ffff;
    font-size: 15px;
}
.icon_bars {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}
.text_small {
    font-size: 11px;
    padding-left: 2em;
}
/* .divider {
    border:1px solid #F9F9F9;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
height: 2em;
} */
.color_change {
    color:  #7E72F2;
}
.card_name {
    color: #2C2C2C;
}
.side_grid {
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-gap:10px;
}
.filter {
    grid-column: 1/4;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    /* border-radius: 8px; */
}
.gallery {
    grid-column: 4/13;
    background-color: #7E72F2;
    height: 20px;


}
.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #7E72F2;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7E72F2;
    cursor: pointer;
}
.header_name {
   font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.btn_block {
   
    background: #6F64F8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    padding:0.8em 4.3em;
    line-height: 22px;
}
